*{
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
b{
  font-family:Old English Text MT;
}
b>span{
  font-family:sans-serif;
}

  .shimmer {
    background: linear-gradient(90deg, #e5e7eb 25%, #f3f4f6 50%, #e5e7eb 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
  @keyframes shimmer {
    100% {
      background-position: -200% 0;
    }
  }
  

  @keyframes ring-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ring-animation {
  animation: ring-spin 3s linear infinite;
  border-top-color: transparent;
  border-right-color: green;
  border-bottom-color: transparent;
  border-left-color: red;
}
